@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
section {
  padding: 40px 0;
}
:root {
  --bg-color: #fcc302;
  --text-color: #ffffff;
  --btn-color: #00bec9;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
/* Header Section Start */
/* Header Section */
header {
  background-color: #eaae00;
}
header img {
  max-width: 50%;
}
.header__wrapper {
  padding: 10px 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.header__nav,
.header__search {
  display: none;
}
#bars {
  display: block;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}
/* Header Section End */
/* main Section Start */
/* Slider Section  */
.slider {
  background-color: var(--bg-color);
}
.slider__wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 40px;
}
.slider__text h1 {
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 10px;
  color: var(--text-color);
}
.slider__text p {
  color: var(--text-color);
  text-align: justify;
  padding-bottom: 10px;
}
.btn {
  background-color: var(--btn-color);
  padding: 15px 20px;
  border: none;
  color: var(--text-color);
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 5px;
}
.btn--transparent {
  background-color: transparent;
  border: 3px solid #fff;
  transition-duration: 0.3s;
  margin-left: 20px;
}
.btn--transparent:hover {
  background-color: #00bec9;
}
/* Service Section */
.service__wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 50px;
}
.service__text h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 10px;
}
.service__text p {
  text-align: justify;
  margin-bottom: 10px;
}
.btn--yellow {
  background-color: var(--bg-color);
}
/* Health Care */
.section__header {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section__header h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
}
.section__header p {
  color: var(--text-color);
  line-height: 1.3;
}
.section__header--black h1,
.section__header--black p {
  color: black;
}
.health {
  background-color: var(--bg-color);
}
.health__wrapper,
.price__wrapper,
.team__wrapper,
.post__wrapper {
  margin-top: 30px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 40px;
}
.health__card img,
.price__card img,
.team__card img,
.post__card img {
  width: 100%;
}
.health__card--desc {
  text-align: center;
  color: var(--text-color);
}
.health__card--desc h3 {
  font-size: 1.5rem;
}
/* Price Section  */
.price {
  background-color: var(--bg-color);
}
.price__card h2 {
  text-align: center;
  color: white;
  font-size: 1.75rem;
  margin-top: 10px;
}
.price__card div {
  display: grid;
  justify-content: center;
}
.price__card div button {
  padding: 12px 30px;
  border-radius: 20px;
}
/* team Section  */
.team__card--desc {
  text-align: center;
}
.team__card ul,
.footer__button ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 20px;
  margin-top: 10px;
}
.team__card ul li a,
.footer__button ul li a {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
/* Review Section */
.review {
  background: linear-gradient(#f0bf1ebe, #f0bf1ebe),
    url(../images/review-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.review__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  text-align: center;
}
.review__card:last-child {
  position: relative;
  left: 50%;
  transform: translateX(-50, -50%);
}
.review__card h2,
.review__card h3 {
  color: white;
}
/* Recent Post  */
/* .post__card--desc h3 {
  font-style: 5rem;
} */
.post__card--desc {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
  margin-top: -10px;
}
.post__card--desc h3 {
  line-height: 1.2;
  padding-bottom: 10px;
}
.post__card--desc span {
  color: #00bec9;
  font-weight: bold;
  padding-bottom: 10px;
  display: inline-block;
}
.post__card--desc p {
  text-align: justify;
  line-height: 1.2;
  padding-bottom: 10px;
}
.post__card--desc a {
  color: #00bec9;
  font-weight: 500;
}
.post__card {
  transition-duration: 0.3s;
}
.post__card:hover {
  box-shadow: 0px 0px 30px 0px #ddd;
  cursor: pointer;
}
.post__card:hover .post__card--desc {
  border: none;
}
/* main Section End */
/* Footer Section Start */
footer {
  background-color: #343434;
  padding: 50px 0;
}
.footer__wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 30px;
}
.footer__card h1 {
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 15px;
}
.footer__card a {
  color: #ffffff;
  line-height: 2;
  text-transform: capitalize;
}
.footer__card a:hover {
  color: #ffffffb9;
}
.footer__card p {
  color: #ffffff;
}
.footer__card div {
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer__card div input {
  border: none;
  outline: none;
  padding: 15px;
  background-color: var(--bg-color);
  color: #ffffff;
}
.footer__card div button {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #00bec9;
  color: #ffffff;
}
.footer__button ul {
  justify-content: start;
}
.footer__button ul li a {
  background-color: #ffffff;
  color: black;
  transition-duration: 0.2s;
}
.footer__button ul li a:hover {
  background-color: var(--bg-color);
  color: white;
}
.copyright {
  color: #ffffff;
  padding-top: 40px;
  text-align: center;
}
.copyright a {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}
/* Footer Section End */ ;
